.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  width:var(--maxWidth)/4;
}

// On applique le style à la page d'accueil
.ion-color-ducknote {
  --ion-color-base: var(--ion-color-ducknote);
  --ion-color-base-rgb: var(--ion-color-ducknote-rgb);
  --ion-color-contrast: var(--ion-color-ducknote-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ducknote-contrast-rgb);
  --ion-color-shade: var(--ion-color-ducknote-shade);
  --ion-color-tint: var(--ion-color-ducknote-tint);
}
